<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/foundation.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>

  <header>
    <div class="grid-container">
      <div class="grid-x align-middle">
        <div class="cell small-12 medium-auto">
          <img src="{{ '/assets/images/hayspec.svg' | relative_url }}" />
        </div>

        <div class="cell small-12 medium-7">
          <ul class="menu">
            <li>
              <a href="#what-is-hayspec">What's Hayspec?</a>
            </li>
            <li>
              <a href="#getting-started">Get Started</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="{{ site.github.repository_url }}">View on Github
                <img class="icon" src="{{ '/assets/images/icon-github.svg' | relative_url }}" />
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="grid-x intro align-center">
        <div class="cell small-12 medium-10 large-8">
          <strong>hayspec</strong> – a magic-free framework for testing JavaScript and NodeJS applications.
        </div>
      </div>

      <div class="grid-x grid-margin-x grid-margin-y align-center">
        <div class="cell small-12 medium-6">
          <svg viewBox="0 0 489 287" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5">
              <path d="M487.906 4.691A3.693 3.693 0 0 0 484.215 1H4.691A3.693 3.693 0 0 0 1 4.691v277.743a3.693 3.693 0 0 0 3.691 3.691h479.524a3.693 3.693 0 0 0 3.691-3.691V4.691z" fill="#1a2d34" stroke="#3bd4b5" stroke-width="2"/>
              <circle cx="19.403" cy="18.37" r="5.724" fill="#fe5e56"/>
              <circle cx="38.495" cy="18.37" r="5.724" fill="#febc2e"/>
              <circle cx="57.588" cy="18.37" r="5.724" fill="#27c93f"/>
              <text x="231.741" y="24.326" font-family="'Overpass'" font-weight="300" font-size="16" fill="#fff">
                  IDE
              </text>
              <g font-family="'Overpass Mono'" font-size="16">
                  <text x="831.004" y="469.585" fill="#e488d2" transform="translate(-800.798 -405.406)">
                      import
                  </text>
                  <text x="899.996" y="469.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      {
                  </text>
                  <text x="919.708" y="469.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      Spec
                  </text>
                  <text x="968.988" y="469.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      }
                  </text>
                  <text x="988.7" y="469.585" fill="#e488d2" transform="translate(-800.798 -405.406)">
                      from
                  </text>
                  <text x="1037.98" y="469.585" fill="#f48e6c" transform="translate(-800.798 -405.406)">
                      &apos;
                  </text>
                  <text x="1047.84" y="469.585" fill="#f48e6c" transform="translate(-800.798 -405.406)">
                      @hayspec/spe
                  </text>
                  <text x="1166.11" y="469.585" fill="#f48e6c" transform="translate(-800.798 -405.406)">
                      c&apos;
                  </text>
                  <text x="1185.82" y="469.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      ;
                  </text>
                  <text x="831.004" y="517.585" fill="#4c9ef5" transform="translate(-800.798 -405.406)">
                      const
                  </text>
                  <text x="890.14" y="517.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      spec
                  </text>
                  <text x="939.42" y="517.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      =
                  </text>
                  <text x="959.132" y="517.585" fill="#4c9ef5" transform="translate(-800.798 -405.406)">
                      new
                  </text>
                  <text x="998.556" y="517.585" fill="#3bd4b5" transform="translate(-800.798 -405.406)">
                      Spec
                  </text>
                  <text x="1037.98" y="517.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      ();
                  </text>
                  <text x="831.004" y="565.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      spec
                  </text>
                  <text x="870.428" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      .
                  </text>
                  <text x="880.284" y="565.585" fill="#ffe566" transform="translate(-800.798 -405.406)">
                      test
                  </text>
                  <text x="919.708" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      (
                  </text>
                  <text x="929.564" y="565.585" fill="#f48e6c" transform="translate(-800.798 -405.406)">
                      &apos;is true&apos;
                  </text>
                  <text x="1018.27" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      ,
                  </text>
                  <text x="1037.98" y="565.585" fill="#4c9ef5" transform="translate(-800.798 -405.406)">
                      async
                  </text>
                  <text x="1097.12" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      (
                  </text>
                  <text x="1106.97" y="565.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      ctx
                  </text>
                  <text x="1136.54" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      )
                  </text>
                  <text x="1156.25" y="565.585" fill="#4c9ef5" transform="translate(-800.798 -405.406)">
                      =&gt;
                  </text>
                  <text x="1185.82" y="565.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      {
                  </text>
                  <text x="850.716" y="589.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      ctx
                  </text>
                  <text x="880.284" y="589.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      .
                  </text>
                  <text x="890.14" y="589.585" fill="#ffe566" transform="translate(-800.798 -405.406)">
                      true
                  </text>
                  <text x="929.564" y="589.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      (
                  </text>
                  <text x="939.42" y="589.585" fill="#4c9ef5" transform="translate(-800.798 -405.406)">
                      true
                  </text>
                  <text x="978.844" y="589.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      );
                  </text>
                  <text x="831.004" y="613.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      });
                  </text>
                  <text x="831.004" y="661.585" fill="#e488d2" transform="translate(-800.798 -405.406)">
                      export default
                  </text>
                  <text x="978.844" y="661.585" fill="#8ee4fb" transform="translate(-800.798 -405.406)">
                      spec
                  </text>
                  <text x="1018.27" y="661.585" fill="#fff" transform="translate(-800.798 -405.406)">
                      ;
                  </text>
              </g>
          </svg>
        </div>
        <div class="cell small-12 medium-6">
          <svg viewBox="0 0 489 288" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round"
            stroke-linejoin="round" stroke-miterlimit="1.5">
            <path d="M487.906 4.691A3.693 3.693 0 0 0 484.215 1H4.691A3.693 3.693 0 0 0 1 4.691v277.743a3.693 3.693 0 0 0 3.691 3.691h479.524a3.693 3.693 0 0 0 3.691-3.691V4.691z"
              fill="#1a2d34" stroke="#3bd4b5" stroke-width="2" />
            <circle cx="18.474" cy="18.37" r="5.724" fill="#fe5e56" />
            <circle cx="37.567" cy="18.37" r="5.724" fill="#febc2e" />
            <circle cx="56.659" cy="18.37" r="5.724" fill="#27c93f" />
            <text x="227.581" y="24.326" font-weight="300" font-size="16" fill="#fff">
              bash
            </text>
            <g font-size="16">
              <text x="219.439" y="480.516" font-family="'Overpass Mono'" font-weight="700" fill="#3bd4b5" transform="translate(-196.943 -415.113)">
                ~/hayproject
              </text>
              <text x="347.567" y="480.516" font-family="'Overpass Mono'" font-weight="300" fill="#fff" transform="translate(-196.943 -415.113)">
                $ npm test
              </text>
              <text x="239.151" y="528.516" font-family="'Overpass Mono'" font-weight="300" fill="#fff" transform="translate(-196.943 -415.113)">
                src/tests/index.test.ts
              </text>
              <text x="258.863" y="552.516" font-family="'Overpass Mono'" font-weight="300" fill="#ffe566" transform="translate(-196.943 -415.113)">
                isHay() returns true
              </text>
              <text x="465.839" y="552.516" font-family="'AppleSymbols','Apple Symbols'" fill="#3bd4b5" transform="translate(-196.943 -415.113)">
                ⚑
              </text>
              <text x="239.151" y="600.516" font-family="'Overpass Mono'" font-weight="700" fill="#3bd4b5" transform="translate(-196.943 -415.113)">
                1
              </text>
              <text x="258.863" y="600.516" font-family="'Overpass Mono'" font-weight="300" fill="#fff" transform="translate(-196.943 -415.113)">
                passing
              </text>
              <text x="219.439" y="648.516" font-family="'Overpass Mono'" font-weight="700" fill="#3bd4b5" transform="translate(-196.943 -415.113)">
                ~/hayproject
              </text>
              <text x="347.567" y="648.516" font-family="'Overpass Mono'" font-weight="300" fill="#fff" transform="translate(-196.943 -415.113)">
                $
              </text>
            </g>
            <path class="blinking-cursor" d="M168.386 219.409h9.77v18.402h-9.77z" />
          </svg>
        </div>
      </div>
    </div>
  </header>

  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
        {{ content }}
      </div>
    </div>
  </div>

  <footer>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-2">
          <img src="{{ '/assets/images/hayspec.svg' | relative_url }}" />
        </div>
        <div class="cell small-12 medium-auto">
          <ul class="menu">
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#what-is-hayspec">What's Hayspec?</a>
            </li>
            <li>
              <a href="#getting-started">Get Started</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="{{ site.github.repository_url }}">View on Github</a>
            </li>
          </ul>
        </div>

        <div class="cell small-12 medium-5 text-right">
          <a href="mailto:info@hayspec.io">info@hayspec.io</a>
          <br/> Copyright © 2018 hayspec, All rights reserved.
        </div>
      </div>
    </div>
  </footer>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>